.mainPopup {
    width: 200px;
}

.tableContainer {
    border: 1px solid #888888;
    width: 200px;
}

table tr td {
    border-right: 0.5px solid #888888;
}

table tr td:last-of-type {
    border: none;
}

.mainPopup p {
    margin: 5px;
    font-family: serif;
    font-size: 18px;
    text-align: center;
}

.mainPopup button {
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid #888888;
    border-radius: 8px;
    float: left;
}

.mainPopup button:hover {
    background-color: rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    box-shadow: 1px 2px 5px 1px #888888;
}

#highlighter {
    display: inline;
    position: relative;
}

.highlightColors {
    visibility: hidden;
    position: absolute;
    left: -700%;
    margin-left: -20px;
    bottom: -260%;
    display: none;
}

.highlightColors button {
    margin-bottom: 2px;
    margin-right: 2px;
    opacity: 1;
}

.expandableColors {
    visibility: visible;
    display: inline-flex;
}